body {
  margin: 0;
  font-family: Open-Sans, Helvetica, Sans-Serif;
  background: #f5f5f5;
  color: #333;
}
header {
  background: #1a4b8c;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.logo {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto 10px;
  border-radius: 100%;
}

nav {
  background: #3cb371;
  display: flex;
  justify-content: center;
  padding: 15px 10px;
}
nav a {
  color: #fff;
  text-decoration: none;
  margin: 2em;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}
.container {
  max-width: 1100px;
  margin: 0 auto 50px;
  padding: 20px;
}
h2 {
  border-left: 5px solid #ff3b89;
  padding-left: 12px;
}

h3 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  background: #fff;
}
table th,
table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
table th {
  background: #eee;
}
.card {
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#sobre p {
  margin: 20px 0 40px 0;
  padding: 0 10px;
}

#comunicados h1 {
  text-align: center;
}

#comunicados p {
  text-align: center;
}

#comunicados img {
  max-width: 20%;
  height: auto;
  display: flex;
  margin: 20px auto;
}

.card-section {
  padding: 40px;
  background: #f8f8f8;
}

.card-section h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  color: #333;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.card-item {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.card-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.card-item h3 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #222;
}

.card-item p {
  margin-bottom: 12px;
  color: #444;
}

.card-item video,
.card-item img {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #1a4b8c;
  color: #fff;
  margin-top: 40px;
}
.btn {
  background: #ffe650;
  color: #141414ff;
}
